<mat-toolbar color="primary">
    <span>Hi {{currentUser.firstName}}!</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span class="right-align"><a [routerLink]="['/login']">Logout</a></span>
</mat-toolbar>
<h3>All registered users:</h3>

<mat-divider></mat-divider>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Unique No -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
    </ng-container>

    <!-- Name Serial Number -->
    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Username. </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>

    <!-- Weight Machine type -->
    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> Nume </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
    </ng-container>

    <!-- Symbol Cabinet type -->
    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Prenume </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Actiuni </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[2, 3, 4]" showFirstLastButtons></mat-paginator>