<ion-content padding>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">
        <ion-card>
            <ion-card-header>
                <ion-card-title fxLayout="column" fxLayoutAlign="center center" class="center">
                    <section class="logo-holder">
                        <h1>LOGO {{r}}</h1>
                    </section>
                    <mat-divider></mat-divider>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <div class="login-form-container">
                    <ion-item>
                        <ion-label position="floating">
                            <ion-icon>account_circle</ion-icon> <i> Email</i>
                        </ion-label>
                        <ion-input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            tabindex="0" autofocus></ion-input>
                    </ion-item>
                    <mat-error *ngIf="submitted && f.email.errors && f.email.errors.required">Email is
                        required</mat-error>
                    <mat-error *ngIf="submitted && f.email.errors && f.email.errors.email">Email format is wrong</mat-error>
                    <ion-item>
                        <ion-label position="floating">
                            <ion-icon>lock</ion-icon> <i> Password</i>
                        </ion-label>
                        <ion-input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
                    </ion-item>
                    <mat-error *ngIf="submitted && f.password.errors && f.password.errors.required">Password is
                        required</mat-error>
                </div>

            </ion-card-content>
        </ion-card>
        <ion-button expand="full" fill="solid" [disabled]="loading" type="button" (click)="onSubmit()" color="primary"
            strong="true">Login</ion-button>
        <ion-button expand="full" fill="solid" [disabled]="loading" type="button" [routerLink]="['/register']" color="secondary">Register</ion-button>

    </form>
</ion-content>